body {
  display: flex;
  background-color: white;
  background-attachment: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.Contenedor {
  border: 1px solid black;
  width: 72%;
  margin: 1px;
  padding: 15%;
  background-color: whitesmoke;
}
h1 {
  color: black;
}

h2 {
  color: black;
  background-color: #e3de4a;
  padding: 10px;
  border: 10px solid black;
  border-radius: 10px;
  width: 280px;
}

.Text-Center {
  text-align: center;
}
.box {
  border-color: black;
}
